parameters:
    level: 9
    paths:
        - src
        - bin
    tmpDir: var/phpstan
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: variable.undefined
            path: bin/*
        -
            identifier: offsetAccess.nonOffsetAccessible
            path: bin/*
        -
            identifier: argument.type
            path: bin/*
        -
            identifier: cast.int
            path: bin/*
        -
            identifier: return.unusedType
            path: bin/*
